<!-- Menu block -->
<div class="pb-main pb-clear-fix">
    <div class="pb-logo">
      <a href="" title="">
        <img src="/assets/img/logo/logo.png" alt="" style="max-height: 100px; max-width: 150px" />
      </a>
    </div>
    <div class="pb-menu-default">
      <ul id="main-menu" class="sf-menu pb-reset-list pb-clear-fix">
        <li class="sf-mega-enable-0">
          <a routerLink="/home" routerLinkActive="active-menu-item"><span>
              <mat-icon class="menuicons">home</mat-icon>Home
            </span></a>
        </li>
        <li class="sf-mega-enable-0">
          <a routerLink="/about-us" routerLinkActive="active-menu-item"><span>
              <mat-icon class="menuicons">info</mat-icon>About Us
            </span></a>
        </li>
        <li class="sf-mega-enable-0">
          <a routerLink="/contact-us" routerLinkActive="active-menu-item"><span>
              <mat-icon class="menuicons">contacts</mat-icon>Contact
            </span></a>
        </li>
        <li class="sf-mega-enable-0">
          <a><span>
              <mat-icon class="menuicons">perm_identity</mat-icon>Login
            </span></a>
        </li>
      </ul>
    </div>
  </div>
